* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #2D3540;
}

main {
    height: 100vh;
    display: flex;
    padding: 20px;
    gap: 10px;
}

.box-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    
    background: hsla(50, 89%, 53%, 0.699);
    border-radius: 20px;
}

.box-2 {
    width: 100%;
    background: hsla(50, 89%, 53%, 0.699);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    padding: 20px;
    flex: 1;
    text-align: justify;
}

.img .image-1 {
    position: absolute;
    max-width: 200px;
    max-height: auto;
    margin-left: -20px;
    margin-top: -20px;
} 

.button {
    width: 100%;
    padding: 10px;
    margin-top: 150px;
    margin-bottom: 20px;
    align-items: center;

    background: #4D5E77;
    text-align: center;
    
    cursor: pointer;
}

.button-1 {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    align-items: flex-start;

    background: #4D5E77;
    text-align: center;
    
    cursor: pointer;
}

.btn-link {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    color: hsl(0 0% 98%);
}

.code pre code {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    color: #2D3540;
    /* white-space: pre-wrap; */
}